

.App {
  text-align: center;
}
.brdr{
  border: transparent !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}
.imghvr:hover{
  transform: scale(1.1);
  border-radius: 10px;
  overflow: hidden;
  transition: 700ms;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}
.Trailer{
background :transparent;
height: 500px;
padding: 0;
}

/* =====untuk button====== */
.btn-order{
  width: 43px;
  height: 40px;
  background-color: #fff;
  color: #5b0008;
  border:1px solid #5b0008;
  transition: 200ms;
}
.btn-order:focus{
  outline-color: #5b0008;
}
.btn-order:hover{
  font-weight: bolder;
  background-color: teal;
}
.btn-disable{
  color: #fff;
  background-color: #5b0008;
  border:1px solid #fff;
  width: 43px;
  height: 40px;
}
.btn-pilih{
  color: #fff;
  background-color: #5b0008;
  border: 1px solid #fff;
  width: 43px;
  height: 40px;
}

